{{>head}}
{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Granada</h1>
        <p>Granada es una ciudad y municipio español, capital de la provincia homónima, en la comunidad autónoma de Andalucía. Está situada en el centro de la comarca Vega de Granada, a una altitud de 680 m s. n. m., en una amplia depresión intrabética formada por el río Genil y por el piedemonte del macizo más alto de la península ibérica, Sierra Nevada, que condiciona su clima.

</p>
    </div>
    <div class="col-4">
        <img src="assets/img/granada.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{>footer}}